<!-- Section: Design Block -->
<div class="background-radial-gradient"></div>
<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
  <div class="row gx-lg-5 align-items-center mb-5">
    <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
      <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
        The best offer <br />
        <span style="color: hsl(218, 81%, 75%)">for your learning</span>
      </h1>
    </div>

    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
      <div class="card bg-glass">
        <div class="card-body px-4 py-5 px-md-5">
          <!-- Login form -->
          <form (ngSubmit)="login()">
            <!-- Username input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" [(ngModel)]="username" name="username" required />
              <label class="form-label" for="form3Example3">Email address</label>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" [(ngModel)]="password" name="password" required />
              <label class="form-label" for="form3Example4">Password</label>
            </div>
            <!-- Submit button -->
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-block mb-4">Sign In</button>
            </div>
          </form>

          <!-- Registration Section -->
          

        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section: Design Block -->
