<div class="form-group">
  <label for="username">Nom d'utilisateur</label>
  <input type="text" id="username" name="username" [(ngModel)]="username">
</div>
<div class="form-group">
  <label for="password">Mot de passe</label>
  <input type="password" id="password" name="password" [(ngModel)]="password">
</div>
<div class="form-group">
  <button (click)="login()">Se connecter</button>
</div>


<div class="form-group">
  <h2>Inscription</h2>
  <label for="newUsername">Nouveau nom d'utilisateur</label>
  <input type="text" id="newUsername" name="newUsername" [(ngModel)]="newUsername">
</div>
<div class="form-group">
  <label for="newPassword">Nouveau mot de passe</label>
  <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword">
</div>
<div class="form-group">
  <button (click)="register()">S'inscrire</button>
</div>
