<!-- update-categorie.component.html -->
<h2>Update Category</h2>

<form [formGroup]="updateCategorieForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nom">Name:</label>
    <input type="text" id="nom" formControlName="nom" required>
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>

  <button type="submit">Update Category</button>
  <button type="button" (click)="closeModal()">Cancel</button>
</form>
